@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif ;
  }
  
  .diceBox {
      top : 25%; 
      left: 50%;
      transform: translateX(-50%);
    }
  
    #roll-button {
     margin-top: 250px; 
    }
  
    .currentScore {
      height: 110px;
      width: 165px;
      border-radius: 2%;
      left: 43%;
      top: 120%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }