@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.diceBox {
    top : 25%; 
    left: 50%;
    transform: translateX(-50%);
  }

  #roll-button {
   margin-top: 250px; 
  }
  